/* Box Model Hack */
* {
     box-sizing: border-box;
     font-family: Arial, Helvetica, sans-serif
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
     clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

/******************************************
/* LAYOUT
/*******************************************/


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
/* .name {
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 5rem;
     letter-spacing: 1.5rem;
     height: 100vh;
     width: 100vw;
     background-color: rgba(255,255,255,0.5);
     opacity: 0;
     }  */

/* body:hover .name {
     opacity: 1;
} */

/* * {
     margin: 0;
     padding: 0;
}

#container {
     width: 100vw;
     overflow: hidden;
     margin: 8% auto;
     background: white;
}

/*header*/
header {
     width: 800px;
     margin: 40px auto;
}

header h1 {
     text-align: center;
     font: 100 60px/1.5 Helvetica, Verdana, sans-serif;

}

header p {
     font: 100 15px/1.5 Helvetica, Verdana, sans-serif;
     text-align: justify;
}

/*photobanner*/

.photobanner {
     height:400px;
     width: 50050px;
     margin-bottom: 80px;
}

/*keyframe animations*/
.first {
     -webkit-animation: bannermove 100s linear infinite;
     -moz-animation: bannermove 100s linear infinite;
     -ms-animation: bannermove 100s linear infinite;
     -o-animation: bannermove 100s linear infinite;
     animation: bannermove 100s linear infinite;
}

/*100% is -1 * total width of repeat banner - add for all keyframes*/

@keyframes "bannermove" {
     0% {
          margin-left: 0px;
     }

     100% {
          margin-left: -10125px;
     }

}

@-moz-keyframes bannermove {
     0% {
          margin-left: 0px;
     }

     100% {
          margin-left: -10125px;
     }

}

@-webkit-keyframes "bannermove" {
     0% {
          margin-left: !10px;
     }

     100% {
          margin-left: -10125px;
     }

}

@-ms-keyframes "bannermove" {
     0% {
          margin-left: 0px;
     }

     100% {
          margin-left: -10125px;
     }

}

@-o-keyframes "bannermove" {
     0% {
          margin-left: 0px;
     }

     100% {
          margin-left: -10125px;
     }

}

.about {
     position:absolute;
     bottom: 0;
     right: 2%;
}

img {
     height: 100%;
} */